@import './atoms/colors';

.grid-container {
    max-width: 900px;
    margin: auto;
}

.grid-x {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cell {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border-width: 0;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
        cursor: pointer;
    }
}

.color-1 {
    background: $color1;
}

.color-2 {
    background: $color2;
}

.color-3 {
    background: $color3;
}

.color-4 {
    background: $color4;
}

.color-5 {
    background: $color5;
}
